### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### Node ###
# Logs
npm-debug.log*

# Dependency directories
node_modules/

# Reports
reports/
allure-report/

# Optional npm cache directory
.npm

# Others
driver-logs/