### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### Node ###
# Logs
npm-debug.log*

# Dependency directories
node_modules/

# Reports
allure-report
allure-results

# Optional npm cache directory
.npm

# Others
config/
package-lock.json
