### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### Node ###
# Logs
npm-debug.log*

# Dependency directories
node_modules/

#Config
test/config/xray/jira.cloud.json
test/config/xray/cucumber.multipart.config.json

#Resources
test/resources/

# Reports
allure-report
test/reports/

# Optional npm cache directory
.npm

# Others
driver-logs/
tmp/
browserstack.err
local.log